@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  @apply m-0 p-0;
}

#app {
  @apply px-8 xl:px-16 bg-slate-100 dark:bg-slate-900;
}
/* header */
.nav-link {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  @apply text-2xl xl:text-4xl text-accent dark:text-secondary dark:hover:text-alternate hover:text-primary;
  font-family: 'Darumadrop One', cursive;
}

/* footer */

.app-footer {
  @apply text-center py-10 dark:text-slate-300;
}

.app-footer hr {
  @apply my-4;
}

.profile-button {
  @apply w-8 md:w-16 inline-flex justify-center rounded-full p-0 border-2 border-accent hover:border-primary;
}
